# Pair programming Unión de Datos e Introducción a Limpieza   

## Ejercicios Unión de Datos  

Para realizar este pair programming deberéis usar el conjunto de datos de world-data-2023-part1.csv y el de world-data-2023-part2.csv.  

Hoy tenemos un dataset nuevo, en este encontraremos las siguientes columnas:  

- **GDP**: Producto Interno Bruto, el valor total de bienes y servicios producidos en el país.  
- **Gross primary education enrollment** (%): Tasa bruta de matriculación en educación primaria.
- **Gross tertiary education enrollmen**t (%): Tasa bruta de matriculación en educación terciaria.
- **Infant mortality**: Número de muertes por cada 1,000 nacidos vivos antes de cumplir un año de edad.
- **Largest city**: Nombre de la ciudad más grande del país.
- **Life expectancy**: Número promedio de años que se espera que viva un recién nacido.
- **Maternal mortality ratio**: Número de muertes maternas por cada 100,000 nacidos vivos.
- **Minimum wage**: Nivel de salario mínimo en moneda local.
- **Official language**: Idioma(s) oficial(es) hablado(s) en el país.
- **Out of pocket health expenditure**: Porcentaje del gasto total en salud pagado directamente por individuos.
- **Physicians per thousand**: Número de médicos por cada mil personas.
- **Population**: Población total del país.
- **Population: Labor force participation** (%): Porcentaje de la población que forma parte de la fuerza laboral.
- **Tax revenue** (%): Ingresos fiscales como porcentaje del PIB.
- **Total tax rate**: Carga fiscal total como porcentaje de las ganancias comerciales.
- **Unemployment rate**: Porcentaje de la fuerza laboral que está desempleada.
- **Urban_population**: Porcentaje de la población que vive en áreas urbanas.
- **coordinates**: Coordenadas de latitud y longitud de la ubicación del país.
- **country**: Nombre del país.  

Tienes a tu disposición dos conjuntos de datos, "world-data-2023-part1.csv" y "world-data-2023-part2.csv", que contienen información de una serie de indicadores y datos de distintos países. Tu tarea es explorar estos conjuntos de datos y determinar qué tienen en común en términos de columnas y datos.    

Luego, debes crear un nuevo DataFrame que combine la información de ambos conjuntos de datos en un solo conjunto de datos. Para hacerlo, debes seleccionar el método de unión de Pandas que consideres más apropiado para esta situación y justificar por qué crees que ese método es el mejor en tu informe.  

Asegúrate de realizar los siguientes pasos:

In [2]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np


# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

1. Explora y carga ambos conjuntos de datos en pandas DataFrames.

In [3]:
world1 = pd.read_csv('world-data-2023_part1.csv', index_col=0)
print(f"1: {world1}")

print(f"--------------")

world2 = pd.read_csv('world-data-2023_part2.csv', index_col=0)
print(f"2: {world2}")

1:          Country Density\n(P/Km2) Abbreviation Agricultural Land( %)  \
0    Afghanistan               60           AF                58.10%
1        Albania              105           AL                43.10%
2        Algeria               18           DZ                17.40%
3        Andorra              164           AD                40.00%
4         Angola               26           AO                47.50%
..           ...              ...          ...                   ...
190    Venezuela               32           VE                24.50%
191      Vietnam              314           VN                39.30%
192        Yemen               56           YE                44.60%
193       Zambia               25           ZM                32.10%
194     Zimbabwe               38           ZW                41.90%

    Land Area(Km2) Armed Forces size  Birth Rate  Calling Code  \
0          652,230           323,000       32.49          93.0
1           28,748             9,000       11.78         355.0
2        2,381,741           317,000       24.28         213.0
3              468               NaN        7.20         376.0
4        1,246,700           117,000       40.73         244.0
..             ...               ...         ...           ...
190        912,050           343,000       17.88          58.0
191        331,210           522,000       16.75          84.0
192        527,968            40,000       30.45         967.0
193        752,618            16,000       36.19         260.0
194        390,757            51,000       30.68         263.0

    Capital/Major City Co2-Emissions       CPI CPI Change (%) Currency-Code  \
0                Kabul         8,672     149.9          2.30%           AFN
1               Tirana         4,536    119.05          1.40%           ALL
2              Algiers       150,006    151.36          2.00%           DZD
3     Andorra la Vella           469       NaN            NaN           EUR
4               Luanda        34,693    261.73         17.10%           AOA
..                 ...           ...       ...            ...           ...
190            Caracas       164,175  2,740.27        254.90%           VED
191              Hanoi       192,668    163.52          2.80%           VND
192              Sanaa        10,609    157.58          8.10%           YER
193             Lusaka         5,141    212.31          9.20%           ZMW
194             Harare        10,983    105.51          0.90%           NaN

     Fertility Rate Forested Area (%) Gasoline Price
0              4.47             2.10%         $0.70
1              1.62            28.10%         $1.36
2              3.02             0.80%         $0.28
3              1.27            34.00%         $1.51
4              5.52            46.30%         $0.97
..              ...               ...            ...
190            2.27            52.70%         $0.00
191            2.05            48.10%         $0.80
192            3.79             1.00%         $0.92
193            4.63            65.20%         $1.40
194            3.62            35.50%         $1.34

[195 rows x 16 columns]
--------------
2:                    GDP Gross primary education enrollment (%)  \
0     $19,101,353,833                                 104.00%
1     $15,278,077,447                                 107.00%
2    $169,988,236,398                                 109.90%
3      $3,154,057,987                                 106.40%
4     $94,635,415,870                                 113.50%
..                 ...                                    ...
190  $482,359,318,768                                  97.20%
191  $261,921,244,843                                 110.60%
192   $26,914,402,224                                  93.60%
193   $23,064,722,446                                  98.70%
194   $21,440,758,800                                 109.90%

    Gross tertiary education enrollment (%)  Infant mortality  \
0                                     9.70%              47.9
1                                    55.00%               7.8
2                                    51.40%              20.1
3                                       NaN               2.7
4                                     9.30%              51.6
..                                      ...               ...
190                                  79.30%              21.4
191                                  28.50%              16.5
192                                  10.20%              42.9
193                                   4.10%              40.4
194                                  10.00%              33.9

         Largest city  Life expectancy  Maternal mortality ratio Minimum wage  \
0               Kabul             64.5                     638.0       $0.43
1              Tirana             78.5                      15.0       $1.12
2             Algiers             76.7                     112.0       $0.95
3    Andorra la Vella              NaN                       NaN       $6.63
4              Luanda             60.8                     241.0       $0.71
..                ...              ...                       ...          ...
190           Caracas             72.1                     125.0       $0.01
191  Ho Chi Minh City             75.3                      43.0       $0.73
192             Sanaa             66.1                     164.0          NaN
193            Lusaka             63.5                     213.0       $0.24
194            Harare             61.2                     458.0          NaN

    Official language Out of pocket health expenditure  \
0              Pashto                           78.40%
1            Albanian                           56.90%
2              Arabic                           28.10%
3             Catalan                           36.40%
4          Portuguese                           33.40%
..                ...                              ...
190           Spanish                           45.80%
191        Vietnamese                           43.50%
192            Arabic                           81.00%
193           English                           27.50%
194             Shona                           25.80%

     Physicians per thousand  Population  \
0                       0.28  38,041,754
1                       1.20   2,854,191
2                       1.72  43,053,054
3                       3.33      77,142
4                       0.21  31,825,295
..                       ...         ...
190                     1.92  28,515,829
191                     0.82  96,462,106
192                     0.31  29,161,922
193                     1.19  17,861,030
194                     0.21  14,645,468

    Population: Labor force participation (%) Tax revenue (%) Total tax rate  \
0                                      48.90%           9.30%         71.40%
1                                      55.70%          18.60%         36.60%
2                                      41.20%          37.20%         66.10%
3                                         NaN             NaN            NaN
4                                      77.50%           9.20%         49.10%
..                                        ...             ...            ...
190                                    59.70%             NaN         73.30%
191                                    77.40%          19.10%         37.60%
192                                    38.00%             NaN         26.60%
193                                    74.60%          16.20%         15.60%
194                                    83.10%          20.70%         31.60%

    Unemployment rate Urban_population      country  \
0              11.12%        9,797,273  Afghanistan
1              12.33%        1,747,593      Albania
2              11.70%       31,510,100      Algeria
3                 NaN           67,873      Andorra
4               6.89%       21,061,025       Angola
..                ...              ...          ...
190             8.80%       25,162,368    Venezuela
191             2.01%       35,332,140      Vietnam
192            12.91%       10,869,523        Yemen
193            11.43%        7,871,713       Zambia
194             4.95%        4,717,305     Zimbabwe

                      coordinates
0      ('33.93911 ', '67.709953')
1     ('41.153332 ', '20.168331')
2      ('28.033886 ', '1.659626')
3      ('42.506285 ', '1.521801')
4    ('-11.202692 ', '17.873887')
..                            ...
190     ('6.42375 ', '-66.58973')
191  ('14.058324 ', '108.277199')
192   ('15.552727 ', '48.516388')
193  ('-13.133897 ', '27.849332')
194  ('-19.015438 ', '29.154857')

[195 rows x 19 columns]

In [4]:
world1

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34

In [5]:
world2

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",Venezuela,"('6.42375 ', '-66.58973')"
191,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",Vietnam,"('14.058324 ', '108.277199')"
192,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",Yemen,"('15.552727 ', '48.516388')"
193,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",Zambia,"('-13.133897 ', '27.849332')"
194,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",Zimbabwe,"('-19.015438 ', '29.154857')"

2. Identifica las columnas comunes entre los dos conjuntos de datos.

In [6]:
print(f"columnas 1: {world1.columns}")

print(f"--------------")

print(f"columnas 2: {world2.columns}")

columnas 1: Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price'],
      dtype='object')
--------------
columnas 2: Index(['GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'country',
       'coordinates'],
      dtype='object')

In [7]:
for column in list(world1.columns):
    if column.lower in list(world2.columns):
        print(column)

# columnas iguales:
    # Country / country

3. Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.

In [8]:
world = world1.merge(world2, how='outer', left_on='Country', right_on='country' )
world

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",Venezuela,"('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",Vietnam,"('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",Yemen,"('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",Zambia,"('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",Zimbabwe,"('-19.015438 ', '29.154857')"

4. Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

Hemos usado el **merge** porque los dos dataframes tenían una columna común con distinto nombre. Además, usamos el **outer** para asegurarnos de coger todos los adtos, en caso que hubiera alguno que no coincidiera.

## Ejercicios de Limpieza

1. Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

In [9]:
world

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",Venezuela,"('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",Vietnam,"('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",Yemen,"('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",Zambia,"('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",Zimbabwe,"('-19.015438 ', '29.154857')"

In [10]:
world.drop('country', axis=1, inplace=True)

In [11]:
world

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368","('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140","('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305","('-19.015438 ', '29.154857')"

2. Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:  
- No tengan espacios.  
- Estén en minúscula.  
- No tengan paréntesis, es decir, quitar "(%)", "(Km2)".
- Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.
- Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [12]:
# - No tengan espacios.  
# - Estén en minúscula. 
# - No tengan paréntesis, es decir, quitar "(%)", "(Km2)".
# - Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.
# - Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

cambios = {columna: columna.lower().replace(' ', '').replace('(%)', '').replace('(km2)', '').replace('\n', '').replace(':', '').replace('(p/km2)', '') for columna in world.columns}

world.rename(columns = cambios, inplace = True)

world

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368","('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140","('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305","('-19.015438 ', '29.154857')"

3. La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.

In [13]:
long_lat = world['coordinates'].str.split("[),(]", expand = True)
world[['longitude', 'latitude']] = long_lat.get([1,2])
world

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates,longitude,latitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')",'33.93911 ','67.709953'
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')",'41.153332 ','20.168331'
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')",'28.033886 ','1.659626'
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')",'42.506285 ','1.521801'
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')",'-11.202692 ','17.873887'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368","('6.42375 ', '-66.58973')",'6.42375 ','-66.58973'
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140","('14.058324 ', '108.277199')",'14.058324 ','108.277199'
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')",'15.552727 ','48.516388'
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')",'-13.133897 ','27.849332'
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305","('-19.015438 ', '29.154857')",'-19.015438 ','29.154857'

In [14]:
world.drop('coordinates', axis=1, inplace=True)
world

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,longitude,latitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",'33.93911 ','67.709953'
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",'41.153332 ','20.168331'
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",'28.033886 ','1.659626'
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",'42.506285 ','1.521801'
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",'-11.202692 ','17.873887'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",'6.42375 ','-66.58973'
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",'14.058324 ','108.277199'
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",'15.552727 ','48.516388'
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",'-13.133897 ','27.849332'
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",'-19.015438 ','29.154857'

4. Las columnas:
- unemployment_rate, total_tax_rate , tax_revenue ,
population_labor_force_participation , out_of_pocket_health_expenditure ,
gross_tertiary_education_enrollment , gross_primary_education_enrollment ,
forested_area , cpi_change , agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

In [15]:
world.loc[:, ['unemploymentrate','totaltaxrate','taxrevenue','populationlaborforceparticipation','outofpockethealthexpenditure','grosstertiaryeducationenrollment','grossprimaryeducationenrollment','forestedarea','cpichange','agriculturalland']]

,unemploymentrate,totaltaxrate,taxrevenue,populationlaborforceparticipation,outofpockethealthexpenditure,grosstertiaryeducationenrollment,grossprimaryeducationenrollment,forestedarea,cpichange,agriculturalland
0,11.12%,71.40%,9.30%,48.90%,78.40%,9.70%,104.00%,2.10%,2.30%,58.10%
1,12.33%,36.60%,18.60%,55.70%,56.90%,55.00%,107.00%,28.10%,1.40%,43.10%
2,11.70%,66.10%,37.20%,41.20%,28.10%,51.40%,109.90%,0.80%,2.00%,17.40%
3,NaN,NaN,NaN,NaN,36.40%,NaN,106.40%,34.00%,NaN,40.00%
4,6.89%,49.10%,9.20%,77.50%,33.40%,9.30%,113.50%,46.30%,17.10%,47.50%
...,...,...,...,...,...,...,...,...,...,...
190,8.80%,73.30%,NaN,59.70%,45.80%,79.30%,97.20%,52.70%,254.90%,24.50%
191,2.01%,37.60%,19.10%,77.40%,43.50%,28.50%,110.60%,48.10%,2.80%,39.30%
192,12.91%,26.60%,NaN,38.00%,81.00%,10.20%,93.60%,1.00%,8.10%,44.60%
193,11.43%,15.60%,16.20%,74.60%,27.50%,4.10%,98.70%,65.20%,9.20%,32.10%
194,4.95%,31.60%,20.70%,83.10%,25.80%,10.00%,109.90%,35.50%,0.90%,41.90%

In [16]:
porcentage = ['unemploymentrate','totaltaxrate','taxrevenue','populationlaborforceparticipation','outofpockethealthexpenditure','grosstertiaryeducationenrollment','grossprimaryeducationenrollment','forestedarea','cpichange','agriculturalland']

for columna in porcentage:
    world[columna] = world[columna].str.replace('%', '')

5. Haz lo mismo para las columnas de gasoline_price , gdp , minimum_wage , pero eliminando "$".

In [17]:
dolar = ['gasolineprice','gdp','minimumwage']

for columna in dolar:
    world[columna] = world[columna].str.replace('$', '')

/tmp/ipykernel_337/3380688032.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  world[columna] = world[columna].str.replace('$', '')

In [18]:
world

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,longitude,latitude
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,0.70,"19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",'33.93911 ','67.709953'
1,Albania,105,AL,43.10,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40,ALL,1.62,28.10,1.36,"15,278,077,447",107.00,55.00,7.8,Tirana,78.5,15.0,1.12,Albanian,56.90,1.20,"2,854,191",55.70,18.60,36.60,12.33,"1,747,593",'41.153332 ','20.168331'
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,0.28,"169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,0.95,Arabic,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",'28.033886 ','1.659626'
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00,1.51,"3,154,057,987",106.40,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.40,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",'42.506285 ','1.521801'
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,0.97,"94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.40,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025",'-11.202692 ','17.873887'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90,VED,2.27,52.70,0.00,"482,359,318,768",97.20,79.30,21.4,Caracas,72.1,125.0,0.01,Spanish,45.80,1.92,"28,515,829",59.70,NaN,73.30,8.80,"25,162,368",'6.42375 ','-66.58973'
191,Vietnam,314,VN,39.30,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80,VND,2.05,48.10,0.80,"261,921,244,843",110.60,28.50,16.5,Ho Chi Minh City,75.3,43.0,0.73,Vietnamese,43.50,0.82,"96,462,106",77.40,19.10,37.60,2.01,"35,332,140",'14.058324 ','108.277199'
192,Yemen,56,YE,44.60,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10,YER,3.79,1.00,0.92,"26,914,402,224",93.60,10.20,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00,0.31,"29,161,922",38.00,NaN,26.60,12.91,"10,869,523",'15.552727 ','48.516388'
193,Zambia,25,ZM,32.10,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20,ZMW,4.63,65.20,1.40,"23,064,722,446",98.70,4.10,40.4,Lusaka,63.5,213.0,0.24,English,27.50,1.19,"17,861,030",74.60,16.20,15.60,11.43,"7,871,713",'-13.133897 ','27.849332'
194,Zimbabwe,38,ZW,41.90,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90,NaN,3.62,35.50,1.34,"21,440,758,800",109.90,10.00,33.9,Harare,61.2,458.0,NaN,Shona,25.80,0.21,"14,645,468",83.10,20.70,31.60,4.95,"4,717,305",'-19.015438 ','29.154857'

6. Guarda el DataFrame para usarlo en el pairprogramming de mañana.

In [19]:
world.to_csv('world.csv')

## Ejercicios de Filtrado

1. Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.

In [20]:
world.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'longitude', 'latitude'],
      dtype='object')

In [21]:
mortalidad_40_50 = world['infantmortality'].between(40,50, inclusive='both')
world[mortalidad_40_50]

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,longitude,latitude
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,0.70,"19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",'33.93911 ','67.709953'
26,Burkina Faso,76,BF,44.20,"274,200","11,000",37.93,226.0,Ouagadougou,"3,418",106.58,-3.20,XOF,5.19,19.30,0.98,"15,745,810,235",96.10,6.50,49.0,Ouagadougou,61.2,320.0,0.34,French,36.10,0.08,"20,321,378",66.40,15.00,41.30,6.26,"6,092,349",'12.238333 ','-1.561593'
27,Burundi,463,BI,79.20,"27,830","31,000",39.01,257.0,Bujumbura,495,182.11,-0.70,BIF,5.41,10.90,1.21,"3,012,334,882",121.40,6.10,41.0,Bujumbura,61.2,548.0,NaN,Kirundi,19.10,0.10,"11,530,580",79.20,13.60,41.20,1.43,"1,541,177",'-3.373056 ','29.918886'
47,Djibouti,43,DJ,73.40,"23,200","13,000",21.47,253.0,Djibouti City,620,120.25,3.30,DJF,2.73,0.20,1.32,"3,318,716,359",75.30,5.30,49.8,Djibouti City,66.6,248.0,NaN,French,20.40,0.22,"973,560",60.20,NaN,37.90,10.30,"758,549",'11.825138 ','42.590275'
72,Haiti,414,HT,66.80,"27,750",0,24.35,509.0,Port-au-Prince,"2,978",179.29,12.50,HTG,2.94,3.50,0.81,"8,498,981,821",113.60,1.10,49.5,Port-au-Prince,63.7,480.0,0.25,French,36.30,0.23,"11,263,077",67.20,NaN,42.70,13.78,"6,328,948",'18.971187 ','-72.285215'
89,Kiribati,147,KI,42.00,811,NaN,27.89,686.0,South Tarawa,66,99.55,0.60,AUD,3.57,15.00,NaN,"194,647,202",101.30,NaN,41.2,South Tarawa,68.1,92.0,NaN,English,0.20,0.20,"117,606",NaN,22.00,32.70,NaN,"64,489",'1.8368976 ','-157.3768317'
125,Niger,19,NE,36.10,"1,267,000","10,000",46.08,227.0,Niamey,"2,017",109.32,-2.50,XOF,6.91,0.90,0.88,"12,928,145,120",74.70,4.40,48.0,Niamey,62.0,509.0,0.29,French,52.30,0.04,"23,310,715",72.00,11.80,47.20,0.47,"3,850,231",'17.607789 ','8.081666'
166,Sudan,25,SD,28.70,"1,861,484","124,000",32.18,249.0,Khartoum,"20,000","1,344.19",51.00,SDG,4.41,8.10,0.95,"18,902,284,476",76.80,16.90,42.1,Omdurman,65.1,295.0,0.41,Arabic,63.20,0.26,"42,813,238",48.40,8.00,45.40,16.53,"14,957,233",'12.862807 ','30.217636'
175,Togo,152,TG,70.20,"56,785","10,000",33.11,228.0,Lom�,"3,000",113.3,0.70,XOF,4.32,3.10,0.71,"5,459,979,417",123.80,14.50,47.4,Lom�,60.8,396.0,0.34,French,51.00,0.08,"8,082,366",77.60,16.90,48.20,2.04,"3,414,638",'8.619543 ','0.824782'
192,Yemen,56,YE,44.60,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10,YER,3.79,1.00,0.92,"26,914,402,224",93.60,10.20,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00,0.31,"29,161,922",38.00,NaN,26.60,12.91,"10,869,523",'15.552727 ','48.516388'
193,Zambia,25,ZM,32.10,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20,ZMW,4.63,65.20,1.40,"23,064,722,446",98.70,4.10,40.4,Lusaka,63.5,213.0,0.24,English,27.50,1.19,"17,861,030",74.60,16.20,15.60,11.43,"7,871,713",'-13.133897 ','27.849332'

2. Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.

In [22]:
natalidad_20 = world['birthrate'] >= 20
esperanza_75 = world['lifeexpectancy'] > 75

world[natalidad_20 & esperanza_75]

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,longitude,latitude
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,0.28,"169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,0.95,Arabic,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",'28.033886 ','1.659626'
74,Honduras,89,HN,28.90,"112,090","23,000",21.60,504.0,Tegucigalpa,"9,813",150.34,4.40,HNL,2.46,40.00,0.98,"25,095,395,475",91.50,26.20,15.1,Tegucigalpa,75.1,65.0,1.01,Spanish,49.10,0.31,"9,746,117",68.80,17.30,39.10,5.39,"5,626,433",'15.199999 ','-86.241905'
82,Israel,400,IL,24.60,"20,770","178,000",20.80,972.0,Jerusalem,"65,166",108.15,0.80,ILS,3.09,7.70,1.57,"395,098,666,122",104.90,63.40,3.0,Jerusalem,82.8,3.0,7.58,Hebrew,24.40,4.62,"9,053,300",64.00,23.10,25.30,3.86,"8,374,393",'31.046051 ','34.851612'

3. Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.

In [23]:
pais_la = world['country'].str.contains('la', case=True, na=True, regex=True)

world[pais_la][['capital/majorcity', 'largestcity']]

    capital/majorcity     largestcity
4              Luanda          Luanda
13              Dhaka           Dhaka
15              Minsk           Minsk
59           Helsinki        Helsinki
68     Guatemala City  Guatemala City
76          Reykjav��       Reykjav��
81             Dublin        Connacht
102          Lilongwe        Lilongwe
103      Kuala Lumpur     Johor Bahru
107            Majuro          Majuro
122         Amsterdam       Amsterdam
123        Wellington        Auckland
132         Ngerulmud           Koror
139            Warsaw          Warsaw
159           Honiara         Honiara
169              Bern            Z���
173           Bangkok         Bangkok
190           Caracas         Caracas

4. Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea
mayores de 5.

In [24]:
medicos = world['physiciansperthousand'] > 5
world[medicos]['country']

9         Austria
15        Belarus
42           Cuba
63        Georgia
66         Greece
99      Lithuania
113        Monaco
140      Portugal
149    San Marino
187       Uruguay
Name: country, dtype: object

5. Encuentra los países cuya tasa de fertilidad sea mayor a 6.

In [25]:
fertilidad = world['fertilityrate'] > 6
world[fertilidad]['country']

125      Niger
160    Somalia
Name: country, dtype: object

6. Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.

In [26]:
euro = world['currency-code'] == 'EUR'
natalidad = world['birthrate'] > world['birthrate'].mean()

world[euro & natalidad]['country']

Series([], Name: country, dtype: object)

7. Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70.

In [27]:
mortalidad = world['infantmortality'] > 70

world[mortalidad]['country']

33     Central African Republic
34                         Chad
126                     Nigeria
155                Sierra Leone
160                     Somalia
Name: country, dtype: object