In [2]:
# !pip install mysql-connector-python
# !pip install mysql-connector-python
import pandas as pd
import mysql.connector
from  mysql.connector import errorcode

In [ ]:
df_pelis = pd.read_csv('archivo.csv', index_col = 0)
df_oscars = pd.read_csv('archivo.csv', index_col = 0)
df_interpretes = pd.read_csv('archivo.csv', index_col = 0)
df_puntuaciones = pd.read_csv('archivo.csv', index_col = 0)

In [ ]:
orden =["2", "1", "5"]
df_pelis.reindex(columns = orden)

In [ ]:
lista_tuplas_pelis = [tuple (fila) for fila in df_pelis.values]
lista_tuplas_pelis = [tuple (fila) for fila in df_oscars.values]

lista_tuplas_interpretes = [tuple (fila) for fila in df_interpretes.values]
lista_tuplas_puntuaciones = [tuple (fila) for fila in df_puntuaciones.values]

In [ ]:
#Tabla peliculas
cnx = mysql.connector.connect(user="root",
                               password="AlumnaAdalab",
                               hots="localhost:3306", database = "bho_peliculas")

mycursor = cnx.cursor()

sql_pelis = "INSERT INTO peliculas (id_pelicula, nombre_pelicula, tipo, genero, año_estreno, mes_estreno, direccion, argumento, duracion) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"

try:
    mycursor.executemany(sql_pelis, lista_tuplas_pelis)
    cnx.commit()
    print(mycursor.rowcount, "registros insertados")
except:
    print("error inserción")

In [ ]:
#Tabla interpretes
cnx = mysql.connector.connect(user="root",
                               password="AlumnaAdalab",
                               hots="localhost:3306", database = "bho_peliculas")

mycursor = cnx.cursor()

sql_interpretes = "INSERT INTO datos_interpretes (nombre_interprete, año_nacimiento, se_conoce_por, que_hace, premios) VALUES (%s, %s, %s, %s, %s)"

try:
    mycursor.executemany(sql_interpretes, lista_tuplas_interpretes)
    cnx.commit()
    print(mycursor.rowcount, "registros insertados")
except:
    print("error inserción")

In [ ]:
#Tabla oscars
cnx = mysql.connector.connect(user="root",
                               password="AlumnaAdalab",
                               hots="localhost:3306", database = "bho_peliculas")

mycursor = cnx.cursor()

sql_oscars = "INSERT INTO oscars (fecha_ceremonia, nombre_pelicula, direccion, nombre_actor, nombre_actriz) VALUES (%s, %s, %s, %s, %s)"

try:
    mycursor.executemany(sql_oscars, lista_tuplas_oscars)
    cnx.commit()
    print(mycursor.rowcount, "registros insertados")
except:
    print("error inserción")

In [ ]:
#Tabla puntuaciones
cnx = mysql.connector.connect(user="root",
                               password="AlumnaAdalab",
                               hots="localhost:3306", database = "bho_peliculas")

mycursor = cnx.cursor()

sql_puntuaciones = "INSERT INTO puntuaciones (id_pelicula, nombre_pelicula, puntos_imdb, puntos_rotten) VALUES (%s, %s, %s, %s)"

try:
    mycursor.executemany(sql_puntuaciones, lista_tuplas_puntuaciones)
    cnx.commit()
    print(mycursor.rowcount, "registros insertados")
except:
    print("error inserción")

In [ ]:
#Tabla interpretes_peliculas
cnx = mysql.connector.connect(user="root",
                               password="AlumnaAdalab",
                               hots="localhost:3306", database = "bho_peliculas")

mycursor = cnx.cursor()

sql_interpretes_peliculas = "INSERT INTO interpretes_peliculas (id_pelicula, nombre_interprete) VALUES (%s, %s)"

try:
    mycursor.executemany(sql_interpretes_peliculas, lista_tuplas_interpretes_peliculas)
    cnx.commit()
    print(mycursor.rowcount, "registros insertados")
except:
    print("error inserción")